<% include ./partials/header %>

<h1>ADMIN PANEL</h1>
<h3>--Panel</h3>

<li><a href="/admin/register">Track Administrators</a></li>
<li><a href="/clients/new">Add Client</a></li>

<ul>
    <% clients.forEach(function(client){ %>
    <li>Firstname: <%= client.firstname %></li>
    <li>Surname: <%= client.surname %></li>
    <li>Email: <%= client.email %></li>
    <li>Password: <%= client.password %></li>
    <a href="/clients/<%= client._id %>"><button>--> Show</button></a>
    <a href="/clients/<%= client._id %>/edit"><button>--> Edit</button></a>
    <form id="delete-form" action="/clients/<%= client._id %>?_method=DELETE" method="POST"><button>--> Delete</button></form>
    <br>
    <% }); %>
</ul>

<% include ./partials/footer %>